ul { list-style: none outside none; margin: 0; padding: 0 }
.answers { margin-bottom: 15px }
.answers li { padding-bottom: 4px }
.answers li input { margin: 0 7px 0 0; vertical-align: middle }
#pollQuestion { margin: 3px 0 10px }
#pollResult { margin: auto }
.answerButton { background-color: #f9f9f9; border: 1px solid #ccc; border-radius: 3px 3px 3px 3px; color: #000; padding: 2px 5px }
.answerButton:hover { background-color: #fff  }
.navigationBar { border-top: 1px solid #eee; font-size: 110%; margin-top: 13px; padding-top: 3px; text-align: center }
.navigationBar .previousButton { color: #ccc }
.navigationBar .pollsInfo { padding: 9px }
.navigationBar .nextButton { color: #ccc }
.previousButton, .nextButton { font-size: 115%; padding: 2px 4px }
#totalVotes { color: #999; display: block; margin-top: 8px; text-align: right }
#content { margin: 0 auto; padding: 0.5em; width: 80% }
.noPollLabel { padding: 0.5em }
